*{
	font-family: 'Varela Round', sans-serif;
}
.menu a{
	text-decoration: none;
	color: black;
}
.menu a:visited{
	text-decoration: none;
	color: black;
}
.menu{
	text-align: center;
	box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.33);
	border-bottom: 1px solid rgba(1, 1, 1, 0.01);
}
.menu > .selected{
	font-weight: bold;
}
.piggybank > .piggy{
	margin-left: 10px;
	margin-top: 50px;
	width: 300px;
	height: 300px;
	border: 1px solid black;
	-webkit-border-radius: 99999px;
	text-align: center;
	font-size: 40px;
}
.piggy > .amount{
	position: relative;
	top: 40%;

}
.piggybank > .saved{
	float: right;
	margin-right: 10px;
	bottom: 10px;
	margin-top: -30px;
}
.piggybank > .goal{
	float: right;
	margin-right: 10px;
	margin-top: 30px;
}
.table{
	text-align: center;
	margin-top: 10px;
}
.table > .title{
	font-size: 20px;
	font-weight: bold;
} 
.real-table{
	margin-top: 5px;
}
